<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portfolio - Personal Profile - Contact</title>

    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;800&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>


   
   
  <!--header-->
  <header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <i class="fab fa-asymmetrik"></i> Ibrahim Portfolio
                </a>
            </h1>
            <!-- if logo is image enable this   
        <a class="navbar-brand" href="#index.html">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
        </a> -->
            <button class="navbar-toggler collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto align-items-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>

                    <!--/right-btn-->
                    <div class="header-btn mx-2">
                        <a class="btn btn-style btn-primary mr-lg-5" href="contact.html"> Hire Me</a>
                    </div>
                    <!--/right-btn-->

                </ul>
            </div>

            <!-- search -->
            <ul class="cd-header-buttons px-lg-2">
                <li>
                <a class="cd-search-trigger" href="#cd-search">
                    <span></span>
                </a>
                </li>
            </ul>
            <div id="cd-search" class="cd-search">
                <form action="#url" method="post">
                    <input name="Search" type="search" placeholder="Click enter after typing...">
                </form>
            </div>
            <!-- //search -->
            
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- contact banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Contact Us</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Contact</li>
            </ul>
        </div>
    </div>
</section>
<!-- //contact banner -->



<!-- contact -->
<section class="w3l-contacts-12">
    <div class="contact-top pt-5">
        <div class="container py-lg-5 py-2">
            <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
                <h3 class="w3l-title-main">Want to get in touch?</h3>
            </div>
            <!-- contact section -->
<section class="w3l-contact-11 py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 mx-auto text-center mb-5 pb-xl-4">
            <h3 class="title-main">Contact Us</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6 contact-info">
                <i class="fas fa-map-marked-alt"></i>
                <h4>Location</h4>
                <p>Abuja Nigeria, Kubwa, 901101</p>
            </div>
            <div class="col-lg-3 col-sm-6 contact-info mt-md-0 mt-4">
                <i class="fas fa-headset"></i>
                <h4>Phone</h4>
                <p><a href="tel:+2347061866475">+234 706 1866 475</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 contact-info mt-lg-0 mt-4">
                <i class="fas fa-envelope-open-text"></i>
                <h4>Email</h4>
                <p><a href="mololuwa.ibrahim@gmail.com" class="email">mololuwa.ibrahim@gmail.com</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 contact-info mt-lg-0 mt-4">
                <i class="fas fa-user-clock"></i>
                <h4>Working Hours</h4>
                <p>7:00 AM - 9:00 PM</p>
            </div>
        </div>
    </div>
</section>
<!-- //contact section -->
            <div class="d-grid cont-main-top">
                <!-- contact form -->
                <div class="contacts12-main">
                    <form action="mololuwa.ibrahim@gmail.com" method="post" class="main-input">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="Name" name="w3lName" id="w3lName" required="">
                            <input type="email" name="email" placeholder="Email" id="w3lSender" required="">
                        </div>
                        <input type="text" placeholder="Phone Number" name="w3lName" id="w3lName" required="">
                        <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary btn-style">Submit Now</button>
                        </div>
                    </form>
                </div>
                <!-- //contact form -->
            </div>
        </div>
      <!-- inner banner -->
<section class="map mt-4 pt-5">
    <iframe class="map-w3layouts"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15883.116279310793!2d7.336090573412262!3d9.124476111427748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104dabb69e0752a7%3A0xd3be80e05e3bea79!2sKubwa%2C%20Abuja!5e0!3m2!1sen!2sng!4v1624462799506!5m2!1sen!2sng"
        width="100%" height="400" frameborder="0" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
</section>
<!-- //inner banner -->
    </div>
</section>
<!-- //contact -->


     <!-- footer -->
     <footer class="text-center">
        <div class="footer py-5">
            <div class="container py-md-4">
                <div clss="footer-logo">
                    <a class="logo" href="index.html">
                        <i class="fab fa-asymmetrik"></i> Ibrahim Balogun Portfolio
                    </a>
                </div>
                <div class="footer-contact-info mt-4">
                    <ul>
                        <li>
                            <a href="tel:+234 7061 866 475" class="contact-text-sub">
                                <span class="fas fa-phone me-2"></span>+234 7061 866 475</a>
                        </li>
                        <li>
                            <a href="mololuwa.ibrahim@gmail.com" class="contact-text-sub">
                                <span class="fas fa-envelope me-2"></span>mololuwa.ibrahim@gmail.com</a>
                        </li>
                        <li>
                            <p class="contact-text-sub"> 
                                <span class="fas fa-map-marker me-2"></span>Abuja, Nigeria - 23409.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="row footer-grids">
                <div class="col-lg-6 copyright text-lg-start text-center align-center">
                    <p
                    class="col-lg-8 copy-right-grids text-white text-lg-left text-center mt-lg-1"
                  >
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    Design by
      
                    <a href="https://www.linkedin.com/in/ibrahim-balogun-3a1a6238/" target="_blank"
                      >Ibrahim balogun
                    </a>
                  </p>                </div>
                <div class="col-lg-6 text-lg-end text-center mt-lg-0 mt-4">
                    <div class="social">
                        <ul>
                            <li><a href="https://web.facebook.com/ibroman02"><span class="fab me-2 fa-facebook-f"></span></a></li>
                            <li><a href="https://x.com/ibroman02"><span class="fab me-2 fa-twitter"></span></a></li>
                            <li><a href="#url"><span class="fab me-2 fa-google-plus"></span></a></li>
                            <li><a href="#url"><span class="fab me-2 fa-pinterest"></span></a></li>
                            <li><a href="https://www.linkedin.com/in/ibrahim-balogun-3a1a6238/"><span class="fab me-2 fa-vk"></span></a></li>
    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->



    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="static/js/theme-change.js"></script>
    <!-- //theme switch js (light and dark)-->

    <!--search-bar-->
    <script src="static/js/search.js"></script>
    <!--//search-bar-->

    <!--/stats-number-counter-->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <script src="static/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!--//stats-number-counter-->

    <!--/owlcarousel-->
    <script src="static/js/owl.carousel.js"></script>
    <!-- //brands-->
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                loop: true,
                autoplay: true,
                autoplaySpeed: 1500,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 2,
                        nav: false
                    },
                    568: {
                        items: 3,
                        nav: false
                    },
                    768: {
                        items: 4,
                        nav: false
                    }
                }
            })
        })

    </script>
    <!-- //brands-->

    <!-- /typig-text-->
    <script>
        const typedTextSpan = document.querySelector(".typed-text");
        const cursorSpan = document.querySelector(".cursor");

        const textArray = ["Web Designer", "Web Developer", "Software Engineer", "Freelancer"];
        const typingDelay = 200;
        const erasingDelay = 10;
        const newTextDelay = 100; // Delay between current and next text
        let textArrayIndex = 0;
        let charIndex = 0;

        function type() {
            if (charIndex < textArray[textArrayIndex].length) {
                if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
                charIndex++;
                setTimeout(type, typingDelay);
            } else {
                cursorSpan.classList.remove("typing");
                setTimeout(erase, newTextDelay);
            }
        }

        function erase() {
            if (charIndex > 0) {
                // add class 'typing' if there's none
                if (!cursorSpan.classList.contains("typing")) {
                    cursorSpan.classList.add("typing");
                }
                typedTextSpan.textContent = textArray[textArrayIndex].substring(0, 0);
                charIndex--;
                setTimeout(erase, erasingDelay);
            } else {
                cursorSpan.classList.remove("typing");
                textArrayIndex++;
                if (textArrayIndex >= textArray.length) textArrayIndex = 0;
                setTimeout(type, typingDelay);
            }
        }

        document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
            if (textArray.length) setTimeout(type, newTextDelay + 250);
        });
    </script>
    <!-- //typig-text-->


    <!-- jQuery-Photo-filter-lightbox-portfolio-plugin -->
    <script src="static/js/jquery-1.7.2.js"></script>
    <script src="static/js/jquery.quicksand.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->

</body>

</html>